.vertical-nav {
    font-family: "Jura", sans-serif;
    min-width: 17rem;
    width: 27rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  h2 {
    font-family: "Orbitron", sans-serif;
  }